<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <h1>Welcome to Sarta!</h1>

          <div class="row">
            <div class="col-sm-12">
              My ID: <span id="p2p-id"></span>
            </div>
            <div class="col-sm-12">
              Socket status: <span id="socket-status"></span>
            </div>
            <div class="col-sm-12">
              P2P status: <span id="p2p-status"></span>
            </div>
            <div class="col-sm-12">
              <div class="input-group send-message-container">
                <input type="text" class="form-control" id="message-field" placeholder="Some message...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Send</button>
                </span>
              </div>
            </div>
            <div class="col-sm-12 messages-container">
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/assets/socket.io-p2p.js"></script>
    <script>
    $(function () {
      var socket = io()

      socket.on('connect', () => {
        $('#socket-status').html('😃')
        console.log('Connected!')
        socket.emit('greetings', {message:'Hi there!'})
        socket.on('greetings', (data) => {
          console.info('Greetings:', data)
        })
      });

      socket.on('disconnect', () => {
        $('#socket-status').html('😔')
        console.log('Disconnected!')
      });

      var opts = {}
      var p2pSocket = new P2P(socket, opts, () => {
        console.log('p2p connected!')
        $('#p2p-status').html('😃')
        $('#p2p-id').html(p2pSocket.peerId)
        p2pSocket.emit('peer-msg', {message:'Hello there. I am ', id: p2pSocket.peerId})
      })

      $('.send-message-container button').on('click', () => {
        p2pSocket.emit('peer-msg', {message: $('#message-field').val(), id: p2pSocket.peerId})
        $('#message-field').val('');
      })

      let peers = new Map();
      p2pSocket.on('peer-msg', (data) => {
        console.log('From a peer: %s', JSON.stringify(data))
        if (!peers.has(data.id)) {
          p2pSocket.emit('peer-msg', {message:'Hello there. I am ', id: p2pSocket.peerId})
          p2pSocket.useSockets = false
          $('#p2p-status').html('😃')
          $('#p2p-id').html(p2pSocket.peerId)
          peers.set(data.id, []);
        }

        $('.messages-container').append(`<div class="col-sm-12">${data.message}</div>`)
      });
    });
    </script>
  </body>
</html>
